/*  _____________________________________________________________________________

    FOOTER
    _____________________________________________________________________________
*/

/**
 * @namespace: footer
 * @author: matilda@daknight.se
 */
.footer {
}

/*  _____________________________________________________________________________

    MEDIA QUERIES
    _____________________________________________________________________________ */

/**
 * For all breakpoints refers to `_vars.less`
 * Here we're using desktop first…
 */


// LARGE
// (up to 1200px) __________________
@media @max-large {

}


// DESKTOP
// (up to 1024px) __________________
@media @max-desktop {
	
}


// LAPTOP
// (up to 992px) __________________
@media @max-laptop {

}


// TABLET
// (up to 768px) __________________
@media @max-tablet {

}


// PALM
// (up to 620px) __________________
@media @max-palm {

}


// MOBILE
// (up to 480px) __________________
@media @max-mobile {
	
}


// HANDHELD
// (up to 320px) __________________
@media @max-handheld {
	
}