/*  _____________________________________________________________________________

    HEADER
    _____________________________________________________________________________
*/

/**
 * @namespace: header
 * @author: matilda@daknight.se
 */
.header {

}

/*  _____________________________________________________________________________

    MEDIA QUERIES
    _____________________________________________________________________________ */

/**
 * For all breakpoints refers to `_vars.less`
 * Here we're using desktop first…
 */


// TABLET
// ___________________

@media @max-tablet {

	.header {}
}


// PALM
// ___________________

@media @max-palm {

	.header {}
}