//  _____________________________________________________________________________
//
//  VARIABLES
//  _____________________________________________________________________________
//

//  PATHS
//  ___________________

@path-assets: ~"/wp-content/themes/swart/assets";
@path-images: ~"@{path-assets}/media/images";
@path-fonts: ~"@{path-assets}/media/fonts";


//  BREAKPOINTS
//  ___________________

@breakpoint-handheld: 320px;
@breakpoint-handheld-max: ((@breakpoint-handheld)-1);
@max-handheld: ~"(max-width: @{breakpoint-handheld-max})";
@min-handheld: ~"(min-width: @{breakpoint-handheld})";

@breakpoint-mobile: 480px;
@breakpoint-mobile-max: ((@breakpoint-mobile)-1);
@max-mobile: ~"(max-width: @{breakpoint-mobile-max})";
@min-mobile: ~"(min-width: @{breakpoint-mobile})";

@breakpoint-palm: 620px;
@breakpoint-palm-max: ((@breakpoint-palm)-1);
@max-palm: ~"(max-width: @{breakpoint-palm-max})";
@min-palm: ~"(min-width: @{breakpoint-palm})";

@breakpoint-tablet: 768px;
@breakpoint-tablet-max: ((@breakpoint-tablet)-1);
@max-tablet: ~"(max-width: @{breakpoint-tablet-max})";
@min-tablet: ~"(min-width: @{breakpoint-tablet})";

@breakpoint-laptop: 992px;
@breakpoint-laptop-max: ((@breakpoint-laptop)-1);
@max-laptop: ~"(max-width: @{breakpoint-laptop-max})";
@min-laptop: ~"(min-width: @{breakpoint-laptop})";

@breakpoint-desktop: 1024px;
@breakpoint-desktop-max: ((@breakpoint-desktop)-1);
@max-desktop: ~"(max-width: @{breakpoint-desktop-max})";
@min-desktop: ~"(min-width: @{breakpoint-desktop})";

@breakpoint-large: 1200px;
@breakpoint-large-max: ((@breakpoint-large)-1);
@max-large: ~"(max-width: @{breakpoint-large-max})";
@min-large: ~"(min-width: @{breakpoint-large})";

@breakpoint-largest: 1900px;
@breakpoint-largest-max: ((@breakpoint-largest)-1);
@max-largest: ~"(max-width: @{breakpoint-largest-max})";
@min-largest: ~"(min-width: @{breakpoint-largest})";


//  LAYOUT
//  ___________________

@margin-v: 20px; // Vertical margin
@margin-h: 30px; // Horizontal/Gutter margin


//  COLORS
//  ___________________

// This is only to know what color we're dealing with
@color-darkgrey: #252326;
@color-lightgrey: #F2f2f2;
@color-white: #ffffff;
@color-orange: #f79425;


//  FONTS
//  ___________________
@font-family-footer: ;
@font-family-body: ;
@font-family-title: ;

