@import "_vars";
@import "_breakpoints";
@import "_mixins";
@import "_helpers";
@import "reset";


/*  _____________________________________________________________________________

    DEFAULT STYLES
    _____________________________________________________________________________ */

html,
body {
    width: 100%;
    //background-color: black;
}

html{
    overflow-x: hidden;
}

body{
    overflow: hidden;
}


.nopad { padding: 0; }
.push-down { margin-top: 15px; }
.push-up { margin-bottom: 15px; }
.alpha { padding-left: 0; }
.omega { padding-right: 0; }



@import "typography";

/*  _____________________________________________________________________________

    COMPONENTS
    _____________________________________________________________________________ */

@import "components/menu";

/*  _____________________________________________________________________________

    PARTIALS
    _____________________________________________________________________________ */

@import "partials/header";
@import "partials/footer";

/*  _____________________________________________________________________________

    MEDIA QUERIES
    _____________________________________________________________________________ */

/**
 * For all breakpoints refers to `_vars.less`
 * Here we're using desktop first…
 */


// TABLET
// ___________________

@media @max-tablet {

    
}


// PALM
// ___________________

@media @max-palm {
   
}
